@inherits LayoutComponentBase

<div style="display: flex; flex-direction:column; height: 100vh; width: 100%">
    @Body
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />