@using PidroCounter.NET.Services
@inject PidroCounterStateService PCService

<div style="display: inherit; flex-direction: row; height: inherit; width: inherit; background-color: deepskyblue">
    <CascadingValue Value="_team1Id">
        <TeamPanel />
    </CascadingValue>
    <CenterPanel Team1Id="_team1Id" Team2Id="_team2Id" />
    <CascadingValue Value="_team2Id">
        <TeamPanel />
    </CascadingValue>
</div>

@code {
    private int _team1Id;
    private int _team2Id;

    protected override void OnInitialized()
    {
        _team1Id = PCService.RegisterTeam("We");
        _team2Id = PCService.RegisterTeam("They");
    }
}
