@using PidroCounter.NET.Services
@inject PidroCounterStateService PCService

<div style="display: inherit; flex-direction: row; height: inherit; width: inherit; background-color: deepskyblue">
    <CascadingValue Value="_team1Id">
        <TeamPanel />
        <ScoreHistory />
    </CascadingValue>
    <CenterPanel />
    <CascadingValue Value="_team2Id">
        <ScoreHistory />
        <TeamPanel />
    </CascadingValue>
</div>

@code {
    private int _team1Id;
    private int _team2Id;

    protected override void OnInitialized()
    {
        _team1Id = PCService.RegisterTeam("Vi");
        _team2Id = PCService.RegisterTeam("De");
    }
}
