@using PidroCounter.NET.Services
@inherits TeamIdDependant
@inject PidroCounterStateService PcService
@inject ToastService ToastService

<Modal @ref="_modal" Title="Let's clear something up..." ShowCloseButton="false" CloseOnEscape="false">
    <BodyTemplate>
        Does this score belong to the previous or next round?
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnPreviousClick">Previous</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnNextClick">Next</Button>
    </FooterTemplate>
</Modal>

<Button style="width:inherit; margin: 2px; border:solid; border-color: black; border-width:thin;"
    Color="ButtonColor.Secondary" Size="ButtonSize.Large" @onclick="@ScoreButtonClicked">
    @ScoreValue
</Button>

@code {
    [Parameter, EditorRequired]
    public int ScoreValue { get; set; }

    private Modal _modal = default!;

    private async Task ScoreButtonClicked()
    {
        if (PcService.IsUnclearSituation(TeamId!.Value))
        {
            await _modal.ShowAsync();
            return;
        }

        AddScore();
    }

    private void AddScore(bool addZeroes = true)
    {
        if (!PcService.TryAddScore(TeamId!.Value, ScoreValue, out var warning, addZeroes))
            ToastService.Notify(new(ToastType.Warning,
            warning));
    }

    private async Task OnNextClick() => await CloseAndResolve(true);
    private async Task OnPreviousClick() => await CloseAndResolve(false);
    private async Task CloseAndResolve(bool addZeroes)
    {
        AddScore(addZeroes);
        await _modal.HideAsync();
    }
}
