@using PidroCounter.NET.Services
@implements IDisposable
@inherits TeamIdDependant
@inject PidroCounterStateService PCService

<div class="d-flex flex-column align-items-center justify-content-between w-100 mb-2 pt-2" style="height: 10%">
    <h2>@TeamName</h2>
    <h2>@ScoreValue</h2>
</div>

@code {
    private string? TeamName => Team?.Name;
    private int ScoreValue => Team?.Score ?? 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Team = PCService.GetTeam(TeamId!.Value);
        PCService.OnScoreChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PCService.OnScoreChanged -= StateHasChanged;
    }
}
