@using PidroCounter.NET.Services
@implements IDisposable
@inherits TeamIdDependant
@inject PidroCounterStateService PcService

<div class="d-flex flex-column align-items-center h-inherit"
    style="width: 5em; margin-top: 2px; margin-left:10px; margin-right:10px">
    @if (Team is not null)
    {
        @foreach (var score in Team.ScoreHistory)
        {
            <h3>@score</h3>
        }
    }
</div>
@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Team = PcService.GetTeam(TeamId!.Value);

        PcService.OnStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PcService.OnStateChanged -= StateHasChanged;
    }
}
