@using PidroCounter.NET.Services
@implements IDisposable
@inherits TeamIdDependant
@inject PidroCounterStateService PcService

<Modal @ref="_modal" Title="Edit Team Name" ShowCloseButton="true">
    <BodyTemplate>
        <InputText @bind-Value="_teamNameInput" />
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnCancelClick">Cancel</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnSetClick">Set</Button>
    </FooterTemplate>
</Modal>

<div class="d-flex flex-column align-items-center justify-content-between w-100 mb-2 pt-2" style="height: 10%">
    <h2 @onclick="OnTeamNameClick">@_teamName</h2>
    <h2>@ScoreValue</h2>
</div>

@code {
    private string? _teamName;
    private string? _teamNameInput;
    private int ScoreValue => Team?.Score ?? 0;

    private Modal _modal = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Team = PcService.GetTeam(TeamId!.Value);
        _teamName = Team?.Name;

        PcService.OnStateChanged += StateHasChanged;
    }
    public void Dispose() => PcService.OnStateChanged -= StateHasChanged;

    private async Task OnTeamNameClick() => await _modal.ShowAsync();
    private async Task OnSetClick()
    {
        if (!string.IsNullOrWhiteSpace(_teamNameInput))
        {
            _teamName = _teamNameInput;
            PcService.SetTeamName(TeamId!.Value, _teamName);
        }
        _teamNameInput = null;
        await _modal.HideAsync();
    }
    private async Task OnCancelClick() => await _modal.HideAsync();
}
