@using PidroCounter.NET.Services
@implements IDisposable
@inherits TeamIdDependant
@inject PidroCounterStateService PCService

<div style="display: inherit; flex-direction:column; align-items: center; justify-content: space-between; 
    width: 100%; height:10%; padding-top: 5px" class="mb-2">
    <h2>@TeamName</h2>
    <h2>@ScoreValue</h2>
</div>

@code {
    private string? TeamName => Team?.Name;
    private int ScoreValue => Team?.Score ?? 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Team = PCService.GetTeam(TeamId!.Value);
        PCService.OnScoreChange += StateHasChanged;
    }

    public void Dispose()
    {
        PCService.OnScoreChange -= StateHasChanged;
    }
}
